/* ----- RESPONSIVE ----- */

/* ----- Extra large devices (large desktops, 1200px and up) ----- */
@media screen and (max-width: 1200px) {

    // Inicio //
    body {
        font-size: 14px;
    }

    // Alquiler y Venta //
    .desc_icono {
        span {
            padding-left: 10px;
        }
    }
    .info_casa {
        .cont_cruz {
            top: -440px;
        }
    }

    // Nosotros //
    .clientes {
        .cliente1, .cliente2 {
             width: 90%;
        }   
    }
    .contenedor-imagen2 {
        width: 25em;
    }
}

/* ----- Large devices (desktops, 992px and up) ----- */
@media screen and (max-width: 992px) {

    // Inicio //
    body {
        font-size: 11px;
    }

    // Alquiler y Venta //
    .desc_icono {
        span {
            padding-left: 10px;
        }
    }
    .info_casa {
        .btn_info {
            width: 60%;
        }
    }
    .info_casa {
        .cont_cruz {
            top: -345px;
        }
    }

    // Contacto
    .titulo {
        margin-bottom: 1rem !important;
    }
}

/* ----- Medium devices (tablets, 768px and up) ----- */
@media screen and (max-width: 768px) {
    
    // Inicio //
    
    html {
        overflow-x: hidden;
    }
    body {
        font-size: 12px;
    }
    .logo {
        margin-left: -40px;
    }
    // menú de hamburguesa //
    header {
        label {
            display: block;
            position: fixed;
            top: 2.5em;
            right: 2.5em;
        }
    }
    .menu {
        ul {
            position: fixed;
            top: 8.125em;
            right: -100%;
            background-color: #222;
            width: 45%;
            li {
                padding: 0;
                padding-top: 1.875em;
                margin: 0;
                display: block;
                display: flex;
                justify-content: center;
                &::after {
                    display: none;
                }
                &:hover {
                    background-color: rgba(255,255,255,.2);
                }
                a {
                    color: #fff;
                    padding-bottom: 1.5625em;
                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }
    header {
        label {
            top: 1.5625rem;
        }
    }

    #check {
        &:checked ~ .menu {
            ul {
                right: 0px;
                transition: all .40s;
            }
        }
    }

    .contenedorTexto {
        h1 {
            font-size: 2.375em;
        }
    }
    .banner {
        height: 600px;
        background-attachment: local; //Arreglo para celular
    }
    .nashei {
        border: 0;
    }

    // Alquiler y Venta //
    .cont_selec {
        justify-content: center;
    }
    .selector {
        min-width: 40%;
    }
    .padre_precios {
        min-width: 40%;
    }
    .padre_busqueda {
        min-width: 40%;
    }
    .result_busqueda {
        max-width: 87%;
    }
    .desc_icono {
        span {
            padding-left: 16px;
        }
    }
    .casas {
        .casa1, .casa2, .casa3, .casa4, .casa5, .casa6 {
            width: 40%;
            margin: 0;
            margin-bottom: 20px;
        }
        .casa1, .casa3, .casa5 {
            margin-right: 20px;
        }
        .casa1, .casa2 {
            margin: 10px 10px 20px 10px;
        }
    }
    .info_casa {
        .cont_cruz {
            top: -300px;
        }
        .desc_icono2 {
            .dorm,.baño,.metro2,.pileta {
                // width: 50%;
                font-size: 10px;
                padding: 10px 10px 10px 10px;
                margin-left: -30px;
            }
        }
        .btn_info {
            // width: 60%;
            font-size: 0.80em;
        }
        p {
            font-size: 0.8em;
            padding: 10px 10px 0px 10px;
        }
        h3 {
            font-size: 14px;
            padding: 0.625em 0.625em 0rem 0.625rem;
        }
    }
    .ventana_modal {
        width: 80%;
    }
    .container_carousel {
        height: 18.75rem;
    }

    // Nosotros //
    .clientes {
        h2 {
            font-size: 25px;
        }
        .cliente1, .cliente2 {
            width: 90%;
        }
        .opinion {
            font-size: 12px;
        }
    }
    .contenedor-imagen2 {
        width: 15em;
        margin-top: 170px;
    }

    // Contacto //
     .formulario {
        max-width: 500px;
    }

    // Footer //
    .sobre_nosotros {
        padding-left: 90px;
        .ubicacion {
            margin-top: -10px;
        }
        .contacto_info {
            margin-top: 10px;
        }
        .horarios {
            margin-top: 10px;
        }
        .redes-sociales {
            margin-top: 10px;
        }
    }
    .cont_logo_foot {
        min-width: 30%;
        .cont_imgLogo {
            min-width: 130px;
            margin-right: -15px;
        }
    }
    .contenedorUbi {
        min-width: 70%;
        flex-direction: column;
    }

}

/* ----- Small devices (Landscape phones, 576px and up) ----- */
@media screen and (max-width: 576px) {

    // Inicio //
    body {
        font-size: 12px;
    }

    // Alquiler y Venta //

    .casas {
        .casa1, .casa2, .casa3, .casa4, .casa5, .casa6 {
            width: 80%;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    .info_casa {
        .cont_cruz {
            top: -250px;
        }
        .desc_icono2 {
            justify-content: space-evenly;
            .dorm,.baño,.metro2,.pileta {
                width: 50%;
                font-size: 0.83em;
                padding: 0.625em;
                margin-left: 0px;
            }
        }
        .btn_info {
            width: 90%;
            font-size: 0.80em;
        }
        p {
            font-size: 0.8em;
            padding: 10px 5% 0 5%;
            line-height: 0.875rem;
        }
        h3 {
            font-size: 14px;
            padding: 10px 5% 0 5%;
        }
    }
    .ventana_modal {
        width: 80%;
    }
    .container_carousel {
        height: 250px; //antes en 200px
    }

    // Nosotros //
    .clientes {
        height: 420px;
    }
    .info {
        width: 80%;
    }
    .contenedor-imagen2 {
        margin: 0.625em 10px 2.5em 10px;
        width: 25em;
        height: 24em;
    }

    // Contacto //
    .formulario {
        max-width: 300px;
    }
    .formulario__mensaje-exito {
        width: 20em;
    }

    // Footer //
    .foot_padre {
        margin-bottom: -30px;
        min-width: 100%;
        flex-direction: column;
    }
    .contenedorUbi {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sobre_nosotros {
        min-width: 100%;
        order: 1;
        padding-left: 20px;
    }
    .cont_logo_foot {
        min-width: 80%;
        justify-content: center;
        padding-top: 50px;
        order: 2;
    }
    .direccion {
        min-width: 50%;
    }
    .contacto_info {
        min-width: 50%;
        margin-top: 0 !important;
    }
    .horarios {
        min-width: 50%;
    }
    .redes-sociales {
        min-width: 50%;
        padding-right: 0 !important;
        a {
            padding: 9px 9px !important;
        }
    }
}

/* ----- Extra Small devices (comprate otro) (nokias, 300px and up) ----- */
@media screen and (max-width: 300px) {

    // Inicio //
    body {
        font-size: 10px;
    }
    header {
        label {
            top: 1.2rem;
        }
    }

    // Venta y Alquiler //

    .selector {
        min-width: 100%;
    }
    .padre_precios {
        min-width: 100%;
    }
    .padre_busqueda {
        width: 100%;
    } 

    // Nosotros //
    .clientes {
        height: 550px;
        h2 {
            font-size: 25px;
        }
        .cliente1, .cliente2 {
            width: 90%;
        }
    }

     // Contacto //
     .formulario {
        max-width: 200px !important;
    }

    // Footer //
    .redes-sociales {
        a {
            padding: 7px 7px !important;
        }
    }
}





